<!-- room.ejs is gonna be a html file "Embeded JS"-->
<!-- npm install ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoom</title>
</head>

<body>
    Lets Build this....
    <!-- To render this you have to edit serve file -->
</body>

</html>