<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoom</title>
    <link rel="stylesheet" href="style.css">
    <script>
        console.log("<%= roomID %>");
    </script>
</head>

<body>
    <!-- used to render own video-->
    <div id="video-grid">

    </div>
</body>
<!-- used to view own video (after body tag only) (static folder specified in serve.js) -->
<script src="script.js"></script>

</html>